.title{
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.02em;
    color: $dark-grey-color;
    line-height: 130%;
    @media (max-width: $md2 + px) {
        font-size: 32px;
    }
    @media (max-width: $md3 + px) {
        font-size: 24px;
    }
    @media (max-width: $md4 + px) {
        font-size: 18px;
    }
    &_size_m{
        font-size: 24px;
        line-height: 150%;
        @media (max-width: $md2 + px) {
            font-size: 20px;
        }
        @media (max-width: $md3 + px) {
            font-size: 20px;
        }
        @media (max-width: $md4 + px) {
            font-size: 16px;
        }
    }
    &_size_s{
        font-size: 14px;
        @media (max-width: $md2 + px) {
            font-size: 14px;
        }
        @media (max-width: $md3 + px) {
            font-size: 14px;
        }
        @media (max-width: $md4 + px) {
            font-size: 12px;
        }
    }
}

.text{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 179.34%;
    letter-spacing: -0.02em;
    color: $grey-color;

    @media (max-width: $md3 + px) {
        font-size: 15px;
    }
    &_size_m{
        font-size: 14px;
        @media (max-width: $md3 + px) {
            font-size: 13px;
        }
    }
    &_size_s{
        font-size: 11px;
        @media (max-width: $md3 + px) {
            font-size: 11px;
        }
    }
}