.btn{
    min-width: 148px;
    height: 55px;
    padding: 18px 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-color;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19 / 16 * 100%;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease 0s;
    @media (min-width: $md3 + px) {
        &:hover{
            background-color: #009FCA;
        }
    }
    @media (max-width: $md4 + px) {
        font-size: 12px;
        line-height: 14 / 12 * 100%;
    }
    &_secondary{
        min-width: 98px;
        padding: 0px;
        height: 35px;
        background-color: #FFFFFF;
        color: $dark-grey-color;
        font-size: 12px;
        line-height: 14px;
        border: 1px solid transparent;
        @media (min-width: $md3 + px) {
            &:hover{
                color: #3A4463;
                background: #EBECF0;
                border: 1px solid $dark-grey-color;
            }
            &:active{
                color: $dark-grey-color;
                background: #FFFFFF;
                border: 1px solid $dark-grey-color;
            }
        }
    }
}