.tabs {
    &__control{
        border-bottom: 3px solid rgba(145, 162, 176, 0.3);
    }
    &__list {
        display: flex;
        gap: 31px;
        @media (max-width: $md4 + px) {
            display: none;
        }
    }
    &__select{
        display: none;
        margin: 0px 0px 26px 0px;
        @media (max-width: $md4 + px) {
            display: block;
        }
    }
    &__item {
        height: 70px;
        flex: 1 1 270px;
        position: relative;
        @media (max-width: $md3 + px) {
            height: 52px;
        }
    }
    &__btn {
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: rgba(145, 162, 176, 0.5);
        font-weight: 500;
        font-size: 22px;
        transition: all 0.3s ease 0s;

    }
    &__btn_active {
        color: $blue-color;
    }
    &__btn_active::before {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        height: 6px;
        background: $blue-color;
        border-radius: 3px;
    }
    &__content {
    }
    &__element {
        display: none;

    }
    &__element_active{
        display: block;
    }
}