$fontFamily: 'Roboto';
$fontWeight: 300;
$fontSize: 16;

$light-blue-color: #E9F4FA;
$blue-color: #25A8E5;
$green-color: #49B87F;
$grey-color: #4B667D;
$dark-grey-color: #363945;

//Screens
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 1020;
$md3: 767.98;
$md4: 479.98;