.about-product {
    background-color: $super-light-blue-color;
    padding: 116px 0px 100px 0px;
    @media (max-width: $md2 + px) {
        padding: 121px 0px 87px 0px;
    }
    @media (max-width: $md3 + px) {
        padding: 121px 0px 100px 0px;
    }
    @media (max-width: $md4 + px) {
        padding: 56px 0px 0px 0px;
    }
    &__body {
        background: url(/img/about-product/about-product-capsula.gif) no-repeat top;
        @media (max-width: $md3 + px) {
            background: none;
        }
    }
    &__title{
        margin: 0px 0px 60px 0px;
        padding: 0px 325 / $maxWidthContainer * 100% 0px 325 / $maxWidthContainer * 100%;
        text-align: center;
        @media (max-width: $md2 + px) {
            margin: 0px 0px 56px 0px;
            padding: 0px 118 / $md2 * 100% 0px 118 /$md2 * 100%;
        }
        @media (max-width: $md4 + px) {
            margin: 0px 0 48px 0;
            text-align: left;
        }
    }
}
.product-achievements {
    &__row {
        display: flex;
        margin: 0px 0px 63px 0px;
        justify-content: space-between;
        &:last-child{
            margin: 0;
        }
        @media (max-width: $md2 + px) {
            margin: 0px 0px 71px 0px;
        } 
        @media (max-width: $md4 + px) {
            flex-direction: column;
        }
    }
    &__container {
        max-width: 350px;
        width: 350 / $maxWidthContainer * 100vw;
        min-height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: $md3 + px) {
            width: 318px;
        }
        @media (max-width: $md4 + px) {
            width: 277px;
        }
    }
    &__title {
        margin: 20px 0px 18px 0px;
    }
    &__text{
        letter-spacing: -0.01em;
    }
}