.yes-vitamines{
    padding: 88px 0px 110.96px 0px;
    @media (max-width: $md2 + px) {
        padding: 80px 0px 100px 0px;
    }
    @media (max-width: $md3 + px) {
        padding: 100px 0px 70px 0px;
    }
    @media (max-width: $md4 + px) {
        padding: 50px 0px 50px 0px;
    }
    &__body{
        display: flex;
        justify-content: flex-start;
        @media (max-width: $md4 + px) {
            flex-direction: column;
        }
    }
    &__typography{
        padding: 0px 100/ $maxWidthContainer * 100% 0px 30.6 /$maxWidthContainer * 100%;
        @media (max-width: $md2 + px) {
            padding: 0px 16/ $maxWidthContainer * 100% 0px 18.94 /$maxWidthContainer * 100%;
        }
        @media (max-width: $md3 + px) {
            padding: 0px 0px 0px 23.88 /$maxWidthContainer * 100%;
        }
        @media (max-width: $md4 + px) {
            padding: 32px 0px 0px 0px;
        }
    }
    &__title{
        padding: 0px 0px 60px 0px;
        @media (max-width: $md2 + px) {
            padding: 0px 0px 56px 0px;
        }
        @media (max-width: $md3 + px) {
            padding: 0px 0px 36px 0px;
        }
        @media (max-width: $md4 + px) {
            padding: 0px 0px 28px 0px;
        }
    }
    &__text{
        padding: 0px 0px 30px 0px;
        &:last-child{
            padding: 0;
        }
    }
}